<p style="text-align: center">Luc a demandé les factures à Marie pour demain.</p>
<div class="d-flex vw-100">
  <div #chart2 class="graph"></div>
      <div class="w-50">
        <pre class="data">{{ 'TOTAL NODES (Les ronds): ' + data.nodes.length }}</pre>
        <pre class="data">{{ data.nodes | json }}</pre>
      </div>
      <div class="w-50">
        <pre class="data">{{ 'TOTAL LINKS (Les flèches): ' + data.links.length }}</pre>
        <pre class="data">{{ data.links | json }}</pre>
      </div>
</div>
