<p class="text-center p-3">Luc veut chanter, donc Gertrude ne pourra pas dormir</p>
<div #chart2 class="graph"></div>
<!--<div class="d-flex">-->
<!--  <svg width="960" height="600"></svg>-->
<!--  &lt;!&ndash;      <div class="w-50">&ndash;&gt;-->
<!--  &lt;!&ndash;        <pre class="data">{{ 'TOTAL NODES (Les ronds): ' + data.nodes.length }}</pre>&ndash;&gt;-->
<!--  &lt;!&ndash;        <pre class="data">{{ data.nodes | json }}</pre>&ndash;&gt;-->
<!--  &lt;!&ndash;      </div>&ndash;&gt;-->
<!--  &lt;!&ndash;      <div class="w-50">&ndash;&gt;-->
<!--  &lt;!&ndash;        <pre class="data">{{ 'TOTAL LINKS (Les flèches): ' + data.links.length }}</pre>&ndash;&gt;-->
<!--  &lt;!&ndash;        <pre class="data">{{ data.links | json }}</pre>&ndash;&gt;-->
<!--  &lt;!&ndash;      </div>&ndash;&gt;-->
<!--</div>-->
